
<section class="skills" id="skills">

    <div class="container">

        <div class="section-title">
            <span>My Skills</span>
            <h2>My Skills</h2>
        </div>

        <div class="skills-content">

            <div class="skill">
                <i class="devicon-html5-plain"></i>
                <h3>HTML</h3>
            </div>

            <div class="skill">
                <i class="devicon-css3-plain"></i>
                <h3>CSS</h3>
            </div>

            <div class="skill">
                <i class="devicon-bootstrap-plain"></i>
                <h3>Bootstrap</h3>
            </div>

            <div class="skill">
                <i class="devicon-javascript-plain"></i>
                <h3>JavaScript</h3>
            </div>

            <div class="skill">
                <i class="devicon-typescript-plain"></i>
                <h3>TypeScript</h3>
            </div>

            <div class="skill">
                <i class="devicon-angularjs-plain"></i>
                <h3>Angular</h3>
            </div>

            <div class="skill">
                <i class="devicon-nodejs-plain"></i>
                <h3>Node.js</h3>
            </div>

            <div class="skill">
                <i class="devicon-git-plain"></i>
                <h3>Git & GitHub</h3>
            </div>

        </div>

    </div>

</section>