
.contact {
    background-color: #1d1d1d;
    padding-top: 100px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.contact-info {
    width: 45%;
    text-align: center;
     transform: translateY(-70px);
}

.contact-info h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info > p {
    color: #ccc;
    line-height: 1.7;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.contact-item i {
    color: #4bffa5;
    font-size: 20px;
    width: 40px;
}

.contact-item span {
    color: #ccc;
}

.contact-form {
    width: 45%;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #242424;
    border: 1px solid #444;
    color: #fff;
    border-radius: 8px;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #4bffa5;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form .btn {
    border: none;
    cursor: pointer;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title span {
    color: #4bffa5;
    display: block;
    margin-bottom: 10px;
}

.section-title h2 {
    font-size: 35px;
    margin: 0;
}
.contact-form .btn {
    display: block;
    margin: 0 auto;
     transform: translateX(-200px);
    padding: 12px 25px;
    background-color: #4bffa5;
    color: #242424;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px #4bffa5;
}

.contact-form .btn:hover {
    background-color: #242424;
    color: #4bffa5;
    box-shadow: none;
}
