
<section class="contact" id="contact">
  <div class="container">
    <div class="section-title">
      <span>Contact Me</span>
      <h2>Get In Touch</h2>
    </div>
    <div class="contact-content">
      <div class="contact-info">
        <h3>Let's Talk</h3>
        <p>
          If you have any questions or opportunities,
          feel free to contact me.
        </p>
        <div class="contact-item">
          <i class="fa-solid fa-envelope"></i>
          <span>
            your-email@gmail.com
          </span>
        </div>
        <div class="contact-item">
          <i class="fa-solid fa-phone"></i>
          <span>
            +20 100 000 0000
          </span>
        </div>
        <div class="contact-item">
          <i class="fa-solid fa-location-dot"></i>
          <span>
            Giza, Egypt
          </span>
        </div>
      </div>
      <form
        class="contact-form"
        (ngSubmit)="sendMessage()">
        <input
          type="text"
          name="name"
          [(ngModel)]="name"
          placeholder="Your Name"
          required
        >
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Your Email"
          required
        >
        <input
          type="text"
          name="subject"
          [(ngModel)]="subject"
          placeholder="Subject"
          required
        >
        <textarea
          name="message"
          [(ngModel)]="message"
          placeholder="Your Message"
          required
        ></textarea>


        <button
          type="submit"
          class="btn"
        >
          Send Message
        </button>
        <p class="form-message">
          {{ formMessage }}
        </p>
      </form>
    </div>
  </div>
</section>
