<section class="service" id="service">
  <div class="container">
    <div class="section-title">
      <span>My Services</span>
      <h2>My Services</h2>
    </div>
    <div class="service-content">
      <div class="service-box">
        <i class="fa-solid fa-code"></i>
        <h3>Web Development</h3>
        <p>
          Building simple and responsive websites
          using HTML and CSS and JavaScript.
        </p>
      </div>
      <div class="service-box">
        <i class="fa-solid fa-mobile-screen"></i>
        <h3>Responsive Design</h3>
        <p>
          Creating websites that work well on
          different screen sizes.
        </p>
      </div>
      <div class="service-box">
        <i class="fa-solid fa-laptop-code"></i>
        <h3>Front-End Development</h3>
        <p>
          Developing clean and simple user interfaces
          for websites.
        </p>
      </div>
    </div>
  </div>
</section>