    <section class="about" id="about">
        <div class="container">
            <div class="section-title">
                <span>About Me</span>
                <h2>About Me</h2>
            </div>
            <div class="about-content">
                <div class="about-img">
                    <img src="img/menna.jpeg" alt="Menna Emam">
                </div>
                <div class="about-text">
                    <h3>I'm Menna Emam</h3>
                    <h4>Front-End Developer</h4>
                    <p>
                        I am a fresh graduate from Thebes Higher Institute
                        for Information Technology with a degree in Business
                        Information Systems.
                    </p>
                    <p>
                        I am interested in Front-End Development and
                        currently learning how to build responsive and
                        user-friendly websites.
                    </p>
                    <a routerLink="/contact" class="btn">
                     Contact Me
                     </a>
                </div>
            </div>
        </div>
    </section>
