
<nav>
  <a routerLink="/" class="logo">
    Portfo<span>lio</span>
  </a>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Home
    </a>
    <a routerLink="/about" routerLinkActive="active">
      About
    </a>
    <a routerLink="/skills" routerLinkActive="active">
      Skills
    </a>
    <a routerLink="/services" routerLinkActive="active">
      Service
    </a>
    <a routerLink="/portfolio" routerLinkActive="active">
      Portfolio
    </a>
    <a routerLink="/contact" routerLinkActive="active">
      Contact
    </a>
    <a routerLink="/admin" class="admin-link">
      Admin
    </a>
  </div>
</nav>